body {
	margin: 0%;
	font-family: 'Audiowide', cursive;
	font-family: 'Piedra', cursive;
}
.titleHere{
	font-family: 'Cinzel Decorative', cursive;
}
div#head {
	height: 30px;
	width: 100%;
	background-color: #727272;
	margin-bottom: 50px;
	color: white;
}
div#uname {
	vertical-align: middle;
	margin-right: 30px;
	margin-top: 5px;
	float: right;
}

div#boardContainer {
	width: 481px;
	margin-left: auto;
	margin-right: auto;
}

button#reset {
	margin-top: 5px;
	float:left;
}
button#send {
	margin-top: 5px;
	float: right;
}
div#endBtn {
	width: 53px;
	margin-left: auto;
	margin-right: auto;
}

p#ename, p#uname {
	font-weight: bold;
	font-size: 1.2em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

div#container {
	position: relative;
}
div#eChessClock {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	right: 0px;
	top: 50px;
	font-size: 1.3em;
}
div#uChessClock {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	right: 0px;
	top: 480px;
	font-size: 1.3em;
}

div.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}

.mainimg{
	width: inherit;
}
header{
	height: 30px;
	width: 100%;
	background-color: #727272;
	margin-bottom: 50px;
	color: white;
}

.userPass{
	width: 460px;
	float: right;
	margin-top: 3px;
}

p#eChessClock {
    margin-left: auto;
    margin-right: auto;
}
p#uChessClock {
    margin-left: auto;
    margin-right: auto;
}

.mainBody{

	height: 85%;
	width: 70%;
	margin: 0 auto;

}

.titleHere{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

div.lobby{

float: left;
margin-bottom: 25px;
width: 170px;
border-radius: 25px;
height: 60px;
padding-top: 35px;
text-align: center;
font-size: 22px;
margin-left: 50px;
border: 1px solid green;



}


.buttonToCreateGame{
	clear: both;
	height: 50px;
	width: 100%;
	position: relative;
	margin-top: 60px;
	text-align: -webkit-center;

}


.createButton{

width: 170px;
border-radius: 20px;
height: 40px;
padding-top: 25px;
text-align: center;
font-size: 18px;
margin: 0 auto;
}

.WaitingHeading{
	width:auto;
	margin: 0 auto;
	text-align:center;
}

div.lobbiesList p {
    cursor: pointer;
}

div.lobbiesList p:hover {
    background-color: #727272;
}